/* #data-contents{
    display:grid;
} */

.gameCard{
    background-color: rgba(255, 228, 196, 0.651);
}


body{
    
}

.body-ctn{
    display:relative;
    width:90%;
    margin: 0 auto
}


.modal-ctn{
    position:absolute;
    top: 30vh;
    width: auto;
    background-color: white;
}

.hide{
    visibility: hidden;
}

.modal-ctn{
    position:fixed;
}

.modal-content{

}

#closeBtn-mdl{
    /* width:100%; */
    margin-top:1rem;
    margin-right:1rem;
    width:30px;
    height:30px;
    
}